<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width " ,content="user-scalable=no" , initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet"  href="css/blog.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/util.css">
    <style>

    </style>
    <title>odour</title>
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="img">
                <img src="data/images/svg/logo_300x.png" alt="">
            </div>
            <div class="nav_list">
                <div class="items"><a href="indx.html">Home</a></div>
                <div class="items"><a href="products.html">Shop</a></div>
                <div class="items"><a href="products.html">Product</a></div>
                <div class="items"><a href="contact.html"> Contact</a></div>
                <div class="items"><a href="blog.html">About</a></div>
            </div>
            <!-- <span class="list_items serch_icon">$0.00</span> -->
            <!-- <img class="serch_icon" src="../data/images/svg/icons8-cart.gif" alt="cart icon"> -->
            <div class="container">
                <div class="btn"><a href="login.html">login</a></div>
                <div class="btn"><a href="#">signup</a></div>
            </div>
        </div>
    </nav>
    <div class="slider">
        <!-- slide 1
        <div class="slide">
            <img src="../data/images/carsoul/img-1.jpg" alt="" />
        </div> -->
        <div class="slide">
            <div class="slide_content">
                <h1>20% Sell OFF</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquid placeat a. Omnis consectetur, consequuntur itaque error doloribus doloremque expedita iste pariatur numquam?</p>
                <button>Shop Now</button>
            </div>
            <img src="/data/images/carsoul/img-3.jpg" alt="" />
        </div>
        <div class="slide">
            <div class="slide_content">
                <h1>20% Sell OFF</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquid placeat a. Omnis consectetur, consequuntur itaque error doloribus doloremque expedita iste pariatur numquam?</p>
                <button>Shop Now</button>
            </div>
            <img src="/data/images/carsoul/img-3.jpg" alt="" />
        </div>
        <div class="slide">
            <div class="slide_content">
                <h1>20% Sell OFF</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquid placeat a. Omnis consectetur, consequuntur itaque error doloribus doloremque expedita iste pariatur numquam?</p>
                <button>Shop Now</button>
            </div>
            <img src="/data/images/carsoul/img-4.jpg" alt="" />
        </div>
        <button class="btn btn-next">></button>
        <button class="btn btn-prev"><<button>
    </div>
    <section>
        <div class="products">
            <div class="cards">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="content">

                </div>
            </div>
        </div>
    </section>
    <section class="product_section">
        <div class="heading">
            <h2>T-Shirts</h2>
        </div>
        <div class="cards_section">
            <div class="card">
                <div class="card_img">
                    <img src="/data/images/t-shirts/t-shirt-1.jpg" alt="t-shirt images">
                </div>
                <div class="card_content">
                    <div class="card_heading">
                        Men Casual t-shirt
                    </div>
                    <div class="cardparagraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia voluptatibus perspiciatis eum error a repellendus quos nam laudantium id.</p>
                    </div>
                    <div class="buybutton">
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="/data/images/t-shirts/t-shirt-2.jpg" alt="t-shirt images">
                </div>
                <div class="card_content">
                    <div class="card_heading">
                        Men Casual t-shirt
                    </div>
                    <div class="cardparagraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia voluptatibus perspiciatis eum error a repellendus quos nam laudantium id.</p>
                    </div>
                    <div class="buybutton">
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="/data/images/t-shirts/t-shirt-3.jpg" alt="t-shirt images">
                </div>
                <div class="card_content">
                    <div class="card_heading">
                        Men Casual t-shirt
                    </div>
                    <div class="cardparagraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia voluptatibus perspiciatis eum error a repellendus quos nam laudantium id.</p>
                    </div>
                    <div class="buybutton">
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="/data/images/t-shirts/t-shirt-4.jpg" alt="t-shirt images">
                </div>
                <div class="card_content">
                    <div class="card_heading">
                        Men Casual t-shirt
                    </div>
                    <div class="cardparagraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia voluptatibus perspiciatis eum error a repellendus quos nam laudantium id.</p>
                    </div>
                    <div class="buybutton">
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="/data/images/t-shirts/t-shirt-4.jpg" alt="t-shirt images">
                </div>
                <div class="card_content">
                    <div class="card_heading">
                        Men Casual t-shirt
                    </div>
                    <div class="cardparagraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia voluptatibus perspiciatis eum error a repellendus quos nam laudantium id.</p>
                    </div>
                    <div class="buybutton">
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="/data/images/t-shirts/t-shirt-1.jpg" alt="t-shirt images">
                </div>
                <div class="card_content">
                    <div class="card_heading">
                        Men Casual t-shirt
                    </div>
                    <div class="cardparagraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia voluptatibus perspiciatis eum error a repellendus quos nam laudantium id.</p>
                    </div>
                    <div class="buybutton">
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <footer>
            <div class="footer">
                <div class="social_links items">
                    <a href="">Facebook</a>
                    <a href="">Twitter</a>
                    <a href="">Instagram</a>
                    <a href="">Linkdin</a>
                </div>
                <div class="copyright">
                    <span>Copyright © All Right Reserved</span>
                </div>
                <div class="payment">
                    <img src="/data/images/payment.webp" alt="">
                </div>
            </div>
        </footer>
    </section>
</body>
<link href="/js/contact.js">
<script src="/js/index.js"></script>

</html>