<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width " ,content="user-scalable=no" , initial-scale="1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/util.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/login.css">
    <title>odour</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="img">
                <img src="../data/images/svg/logo_300x.png" alt="">
            </div> 
            <div class="nav_list" >
                <div class="items"><a href="indx.html">Home</a></div>
                <div class="items"><a href="products.html">Shop</a></div>
                <div class="items"><a href="products.html">Product</a></div>
                <div class="items"><a href="contact.html"> Contact</a></div>
                <div class="items"><a href="blog.html">About</a></div>

            </div>
            <!-- <span class="list_items serch_icon">$0.00</span> -->
            <!-- <img class="serch_icon" src="../data/images/svg/icons8-cart.gif" alt="cart icon"> -->
            <div class="container">
                <div class="btn"><a href="login.html">login</a></div>
                <div class="btn"><a href="signup.html">signup</a></div>
            </div>
        </div>
    </nav>
    <section class="login_section">
        <div class="login">
            <h2>Login</h2>
            <div class="box">
                <span>Username</span>
                <div class="name">
                    <input type="text" placeholder="Enter your Name">
                </div>
                <span>Password</span>
                <div class="name">
                    <input type="text" placeholder="Enter your Password">
                </div>
                <div class="forgetpass">
                    <a href="">forget Password?</a>
                </div>
                <div class="button name">
                    <button>Log in</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <footer>
            <div class="footer">
                <div class="social_links items">
                    <a href="">Facebook</a>
                    <a href="">Twitter</a>
                    <a href="">Instagram</a>
                    <a href="">Linkdin</a>
                </div>
                <div class="copyright">
                    <span>Copyright © All Right Reserved</span>
                </div>
                <div class="payment">
                    <img src="../data/images/payment.webp" alt="">
                </div>
            </div>
        </footer>
    </section>
</body>
<script src="../js/index.js"></script>
</html>